.head{
    border:1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
}
.logo{
    height:12vh;
    width:10vw;
    padding:0  5px;
    border-radius:15px;
}
.navItems ul{
    display: flex;
    padding:5px;
}
.navItems ul li{
    display: flex;
    flex-wrap: wrap;
    padding:10px;
}
.resList{
   height:330px;
    width:180px;
    margin:3px; 
    background-color: rgb(239, 239, 233);
    cursor: pointer;
}
.resList:hover{
    border:1px solid black;
}
.resCard{
    display:flex;
    flex-wrap: wrap;
    margin:5px;
    
}
.card-logo{
    height:130px;
    width:180px;
}
.filter-btn{
    margin:10px;
    cursor: pointer;
    font-size: medium;
}